<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Status</title>
</head>
<body>
    <h2>Enter Payment Status</h2>
    <form method="post" th:action="@{/order/payment/{orderId}(orderId=${orderId})}">
        <input type="radio" id="paymentSuccess" name="paymentSuccessful" value="true">
        <label for="paymentSuccess">Payment Successful</label><br>
        <input type="radio" id="paymentFailed" name="paymentSuccessful" value="false">
        <label for="paymentFailed">Payment Failed</label><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
